name: Build Workflow

on:
  workflow_dispatch:
  push:
   branches:
     - 'master'
     - 'develop'
     - 'release/*'
# make GHA actions use node16 which still works with bionic
# See https://github.blog/changelog/2024-03-07-github-actions-all-actions-will-run-on-node20-instead-of-node16-by-default/
# Unclear how long this will work though. Remove bionic from matrix as soon as we no longer need to support it.
env:
  ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true
jobs:
  build-package:
    strategy:
      matrix:
        include:
          - architecture: x64
            ubuntu: bionic
            build: true
          - architecture: x64
            ubuntu: focal
            build: true
          - architecture: x64
            ubuntu: jammy
            build: true
          - architecture: armhf
            ubuntu: focal
            build: false
          - architecture: armhf
            ubuntu: jammy
            build: true
          - architecture: arm64
            ubuntu: focal
            build: false
          - architecture: arm64
            ubuntu: jammy
            build: true
    uses: usdot-fhwa-stol/actions/.github/workflows/cpp-module-build.yml@fix-node-deprecation-warnings
    with:
      bucket-codename: ${{ matrix.ubuntu }}
      build: ${{ matrix.build }}
      build-architecture: ${{ matrix.architecture }}
      build-image-tag: ${{ matrix.ubuntu }}
    secrets:
      aws-access-key-id: ${{ secrets.APT_REPO_AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.APT_REPO_AWS_SECRET_ACCESS_KEY }}
